body{
  width: 100vw;
  height: 100vh;
  margin: 0px;
  padding: 0px;
  background-color: #D6E1F0;
}
/* .style-container{



} */
.style-col{
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  height: 100vh;
}
.cardMain{
  background-color: white;
  border-radius: 4%;
  width: 18vw;
  height: 65vh;
}
/* .container-img{
  background-color: #2B7EFA;
  width: 18vw;
  height: 35vh;
  border-radius: 4%;
  margin-top: 0.9rem;
} */
.style-qr{
  margin-top: 0.9rem;
  width: 16vw;
  height: 37vh;
  border-radius: 4%;
}
.container-text-1{
  font-size: 16px;
  font-family: 'Outfit', sans-serif;
  padding: 10px 18px 10px 18px;
  font-weight:900;
  color:hsl(218, 44%, 22%);
}

.container-text-2{
  color: hsl(220, 15%, 55%);
  font-size: 12px;
  font-family: 'Outfit', sans-serif;
  padding: 3px 17px 10px 17px;
  font-weight:400;
}